/* Medium screens - three column grid */
@media screen and (max-width: 768px) {
    header {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto auto;
        gap: 1rem;
        row-gap: 0;
        padding: 1rem 2rem;
        position: relative;
    }

    header img {
        grid-column: 1;
        grid-row: 1;
        width: 150px;
        height: auto;
        align-self: center;
    }

    header nav {
        grid-column: 2;
        grid-row: 1;
        justify-self: center;
    }

    header .sign_in {
        grid-column: 3;
        grid-row: 1;
        margin-left: 0;
        align-self: center;
        justify-self: center;
    }

    header .register {
        grid-column: 3;
        grid-row: 2;
        align-self: start;
        justify-self: center;
        margin-top: 0.1rem;
    }

    .nav_bar {
        flex-direction: column;
        gap: 0.5rem;
    }

    .nav_bar > li {
        text-align: center;
    }

    .hero_container {
        display: block;
        text-align: center;
        position: relative;
        padding-top: 1rem;
    }

    .booking_container {
        width: 100%;
        margin: 0;
        border-top: 5px solid #ff2400;
        border-bottom: 2px solid #ff2400;
        position: absolute;
        top: 146%;
        transform: none;
        margin: 0;
        left: 0;
        right: 0;
    }

    .booking_container > p {
        padding: 0;
    }

    .booking_container > form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .booking_container > img {
        width: 95%;
        margin-left: 1rem;
    }

    .callout_container > .callout_content {
        padding: 0;
    }

    .callout_container {
        margin-top: 55rem;
    }

    .showcase_container {
        margin: 0;
    }

    .showcase_container p {
        padding: 0;
    }

    .showcase_container img {
        width: 100%;
    }

    .about_company {
        display: block;
        text-align: center;
    }

    .about_company_content h6 {
        text-align: start;
    }

    .about_company_content .stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 0;
    margin: 0;
    }

    .about_company_content h1 {
    margin-top: 0;
    line-height: 1;
    padding-right: 0;
    text-align: start;
    }

    .callout_container2 {
        display: block;
    }
}

/* Small screens - stack buttons vertically */
@media screen and (max-width: 480px) {
    header {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto;
    }

    header img {
        grid-column: 1;
        grid-row: 1;
        width: 120px;
        height: auto;
    }

    header nav {
        grid-column: 1 / 3;
        grid-row: 2;
    }

    header .sign_in {
        grid-column: 1;
        grid-row: 3;
        margin-top: 1rem;
    }

    header .register {
        grid-column: 2;
        grid-row: 3;
        margin-top: 1rem;
    }
}